
.tab-hide-toggle {
    display: none !important;
}
.tab-show-toggle {
    display: block !important;
}
.tab {
    background-color: var(--background-secondary-main);
    border-radius: var(--border-radius-mmmd);
    white-space: nowrap;
    text-align: center;
    user-select: none;
    overflow: hidden;
    max-width: 250px;
    width: 100%;
    display: flex;
    padding: 0.3rem;
    align-items: center;
    justify-content: space-around;

    li {
        width: 100%;
        cursor: pointer;
        padding: 0.3rem 1rem;
        border-radius: var(--border-radius-mmmd);

        &.tab-item-active {
            transition: var(--transition-2s-ease);
            background-color: var(--color-white);
            font-weight: 600;
        }
    }
}
